
*::-webkit-scrollbar {
	width: 1em;
	height: 0.3em;
	/*background: rgb(90, 90, 90);*/
	background: #121117;
	/*border-radius: 99px;*/
}
 
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
 
*::-webkit-scrollbar-thumb {
	/*background-color: black;*/
	/*background-color: #12141C;*/
	/*background-color: #798cab;*/
	background-color: #6e6e72;

	/*border-radius: 99px;*/
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
	/* outline: 1px solid slategrey; */
}


*::-moz-scrollbar {
	width: 1em;
	background: rgb(90, 90, 90);
}
 
*::-moz-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
*::-moz-scrollbar-thumb {
	/*background-color: black;*/
	background-color: #121117;
	/* outline: 1px solid slategrey; */
}




/*Buttons regular*/

btn
{
	display: flex;
	padding: 5px;
	font-size: 15px;
	background: #090A0D;
	outline: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	user-select: none;
}

btn:hover
{
	background: #15181F;
}

btn:active
{
	background: #235D41;
	outline-color: lime;
}










/*buttons lite*/

btn[lite]
{
	padding: 3px;
	font-size: 11px;
	/*background: #090A0D;*/
	background: rgba(255, 255, 255, 0.1);
	/*outline: 1px solid rgba(255, 255, 255, 0.3);*/
	/*border-radius: 5px;*/
	user-select: none;
}

btn[lite]:hover
{
	background: rgba(255, 255, 255, 0.2);
}

btn[lite]:active
{
	background: rgba(210, 255, 220, 0.2);
	color: lime;
	/*outline-color: lime;*/
}











/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}


/*inputs default styling*/

input[type='text'], input[type='password'], input[type='number']
{
	/* all: unset; */
	color: white;
	border: none;
	border-radius: 4px;
	background: black;
	padding: 3px;
	outline: 1px solid rgba(255, 255, 255, 0.4);
}

input[type='text']:focus, input[type='password']:focus, input[type='number']:focus
{
	outline: 1px solid #1b8d4e;
}



















/*
============================
Modules pool
============================
*/


*
{
	padding: 0px;
	margin: 0px;
}


html
{
	/*display: flex;*/
	/*background: #110f16;*/
	color: white;
	font-family: 'Arial';
	height: 100%;
	width: 100%;
	overflow: hidden;
	/*background: #1E2328;*/
	background: #181C1F;
	/*flex-grow: 1;*/
/*	height: -webkit-fill-available;
	height: -moz-available;*/
}



body
{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	overflow: hidden;
	/*flex-grow: 1;*/
/*	height: -webkit-fill-available;
	height: -moz-available;*/
}


/*non-static*/
#pages_pool
{
	margin-top: 45px;
	display: flex;
	flex-grow: 1;
	overflow-y: scroll;
}
/*static*/
html[static] #pages_pool
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}



#nav_go_home
{
	align-items: center;
	justify-content: center;
	margin-left: 25px;
}


#app_topbar #topbar_left
{
	display: flex;
}


#app_topbar #nav_display_help
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
}

#help_overlay
{
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.95);
	align-items: center;
	overflow-y: scroll;
}

#help_overlay.hidden
{
	display: none !important;
}


help-dir
{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-top: 30px;
	padding-bottom: 100px;
}


help-dir help-entry
{
    /*display: flex;*/
    padding: 3px;
    margin-top: 10px;
    border-left: 2px solid #bfffc8;
}

help-dir help-entry span[green]
{
	color: #41E654;
}

help-dir help-entry span[red]
{
	color: #E65141;
}

help-header
{
	font-size: 50px;
}







/*
============================
Global App Tobar
============================
*/
#app_topbar
{
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 35px;
	background: #08080A;
	user-select: none;
	padding: 5px;
}

#topbar_name
{
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	font-size: 20px;
	color: rgb(200, 200, 200);

    width: 70px;
    background-image: url('../../assets/hat.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(2);
}

#topbar_nav
{
	display: flex;
	flex-direction: row;
}

#topbar_nav btn
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}


#topbar_limits
{
	display: flex;
	align-items: center;
	justify-content: center;
	/*color: #EA6D6D;*/
	color: #EAD16D;
	margin: 0px 10px 0px 10px;
	font-size: 14px;
}


body[logged_in="true"] #nav_login
{
	display: none;
}

body[logged_in="true"] #nav_sign_out, body[logged_in="true"] #nav_enter_edit
{
	display: flex;
}


body[logged_in="false"] #nav_login
{
	display: flex;
}

body[logged_in="false"] #nav_sign_out, body[logged_in="false"] #nav_enter_edit
{
	display: none;
}







.foil_hidden
{
	display: none !important;
}