


mpool
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/*margin-bottom: 43px;*/
}

mpool #mpool_tobpar
{
	display: flex;
	flex-direction: row;
	height: 50px;
	margin-top: 5px;
	background: rgba(0, 0, 0, 0.5);
	flex-shrink: 0;
}

mpool #mpool_tobpar btn
{
	width: fit-content;
	height: fit-content;
	border-radius: 2px;
	padding: 3px;
}



mpool #flist_and_dl_queue
{
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	width: 100%;
	height: 100%;
}


mpool dlq
{
	display: flex;
	flex-direction: column;
	width: 20vw;
	background: black;
	flex-shrink: 0;
	padding: 4px;
}

mpool flist
{
	display: flex;
	flex-grow: 1;
	padding: 2px;
	overflow-y: scroll;
	margin-bottom: 55px;
}

img#pic_fullres_preview
{
	position: fixed;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	padding: 20px;
	align-self: center;
	object-fit: contain;
	object-position: center;
	background: rgba(0, 0, 0, 0.9);
}

@-moz-document url-prefix() {
	img#pic_fullres_preview {
		width: 100%;
		height: 100%;
		padding: 0px;
	}
}

#indicate_can_drop_files
{
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}


#indicate_can_drop_files_icon
{
	/*width: 50%;*/
	height: 50%;
	aspect-ratio: 1/1;
	border-radius: 20px;
	padding: 20px;
	border: 5px dashed white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../../assets/upload.png');
	z-index: 214748364;
	/*pointer-events: none;*/
}

#exec_dlq_download
{
	margin-top: 10px;
}

#vispath
{
	display: flex;
	align-items: center;
	margin-left: 20px;
	color: rgba(255, 255, 255, 0.8);
}





















/*
================================
LIST view
================================
*/

mpool[list] flist
{
	flex-direction: column;
	flex-wrap: nowrap;
}

mpool[list] flist flist-entry
{
	display: flex;
	/*height: 30px;*/
	height: 1.9vw;
	/*padding: 1px;*/
	user-select: none;
	flex-shrink: 0;
}

mpool[list] flist flist-entry etype
{
	display: flex;
	height: 100%;
	/*width: 20px;*/
	width: 2vw;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
	filter: brightness(0.5);
}


mpool[list] flist flist-entry ename, mpool[list] flist flist-entry a.ename
{
	display: flex;
	/* display: block; */
	align-items: center;
	/* font-size: 20px; */
	font-size: 1.2vw;
	text-overflow: ellipsis;
}


mpool[list] flist flist-entry:nth-child(even)
{
	background: rgba(0, 0, 0, 0.4);
}

mpool[list] flist flist-entry:nth-child(odd)
{
	background: rgba(0, 0, 0, 0.2);
}

mpool[list] flist flist-entry:hover
{
	background: rgba(255, 255, 255, 0.04);
}

mpool[list] flist flist-entry:active
{
	outline: 1px solid lime;
}

etype[folder]
{
	background-image: url('../../assets/folder_icon.svg');
}

etype[dir_up]
{
	background-image: url('../../assets/folder.png');
	filter: invert(1);
}


etype[file]
{
	background-image: url('../../assets/file.svg');
	/*filter: invert(1);*/
}

etype[novid]
{
	background-image: url('../../assets/vid.svg');
	filter: brightness(0.5);
}









/*
================================
GRID view
================================
*/

mpool[grid] flist
{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

mpool[grid] flist flist-entry
{
	/*important todo: this is experimental*/
	/*padding: 1px;*/
	/*important todo: this is experimental*/
	display: flex;
	flex-direction: column;
	aspect-ratio: 20 / 15;
	width: 14vw;
	/*height: 15vw;*/
	margin: 10px;
}

mpool[grid] flist flist-entry etype
{
	display: flex;
	width: 100%;
	height: 70%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


mpool[grid] flist flist-entry ename
{
	/*display: flex;*/
	display: block; 
	align-items: center;
	/* font-size: 20px; */
	font-size: 1.2vw;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: center;
	/*important todo: this is experimental*/
	padding: 2px;
	/*important todo: this is experimental*/
}

mpool[grid] flist flist-entry.folder ename
{
	user-select: none;
}


mpool[grid] flist flist-entry.folder:hover
{
	background: rgba(255, 255, 255, 0.04);
	border-radius: 5px;
}


mpool[grid] flist flist-entry.folder:active
{
	outline: 1px solid lime;
}

mpool flist flist-entry.media_entry_selected
{
	outline: 1px solid cyan;
}


mpool[grid] flist flist-entry.arrow_cycle_hint
{
	background: rgba(255, 255, 255, 0.05);
	border-radius: 5px;
}








mpool dlq .dlq_item.dlq_item_processed
{
	outline: 1px solid lime;
	background: #00ff7221;
}

mpool dlq .dlq_item.processed_upload
{
	outline: 1px solid #79f4ff;
	background: #45c3ff66;
}
mpool dlq .dlq_item.rejected_upload
{
	outline: 1px solid #FF7979;
	background: #ff564566;
}

mpool dlq #dlq_list
{
	overflow-y: scroll;
	padding-bottom: 55px;
}



mpool dlq #dlq_list::-webkit-scrollbar {
	width: 6px;
	background: transparent;
}

mpool dlq #dlq_list::-moz-scrollbar {
	width: 6px;
	background: transparent;
}

mpool dlq #dlq_list::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 999px;
	/* outline: 1px solid slategrey; */
}

mpool dlq #dlq_list::-moz-scrollbar-thumb {
	border-radius: 999px;
	background-color: rgba(255, 255, 255, 0.2);
	/* outline: 1px solid slategrey; */
}





mpool dlq .dlq_item
{
	border-radius: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 3px;
	margin: 5px;
}


mpool dlq .dlq_item.lfs_item
{
	position: relative;
	padding: 0px;
	border-radius: 5px;
	outline: 1px solid rgba(255, 255, 255, 0.1);
	overflow: hidden;
}

mpool dlq .dlq_item.lfs_item .lfs_item_name_sizer
{
	padding: 3px;
	opacity: 0;
	/*z-index: 65535;*/
}

mpool dlq .dlq_item.lfs_item .lfs_item_name
{
	padding: 3px;
	position: absolute;
	top: 0px;
}

mpool dlq .dlq_item.lfs_item .lfs_progress
{
	transition: .3s;
	position: absolute;
	top: 0px;
	transform-origin: left;
	transform: scaleX(0);
	opacity: 0.7;
	width: 100%;
	height: 100%;
	background: #5387BD;
	/*z-index: 500;*/
	/*mix-blend-mode: color;*/
}

mpool dlq .dlq_item.lfs_item .lfs_progress.hashing
{
	background: #DBA23F;
}





dlq #dlq_title, dlq #dlq_head
{
	padding: 10px;
}













/*
================================
VIS PATH
================================
*/

#vispath
{
	display: flex;
}


#vispath .vispath_fld, #vispath .vispath_separator
{
	display: flex;
	padding: 4px;
}

#vispath .vispath_separator
{
	user-select: none;
}

#vispath .vispath_fld
{
	user-select: none;
	border-radius: 4px;
}

#vispath .vispath_fld:hover
{
	background: rgba(255, 255, 255, 0.05);
}

#vispath .vispath_fld:active
{
	outline: 1px solid lime;
	background: rgba(255, 255, 255, 0.1);
}














/*
================================
RESTORE POINT
================================
*/

dlq #dlq_list .dlq_item.restore_point .rst_point_warning
{
	width: 100%;
	height: 20px;
	background: url('../../assets/stripes.jpg');
	background-position: top;
	background-size: contain;
	background-repeat: repeat;
}

dlq #dlq_list .dlq_item.restore_point .warn_entry
{
	padding: 3px;
	font-size: 15px;
	opacity: 0.8;
	word-break: break-all;
}

dlq #dlq_list .dlq_item.restore_point .warn_entry.dest, dlq #dlq_list .dlq_item.restore_point .warn_entry.checksum
{
	margin-bottom: 7px;
}

dlq #dlq_list .dlq_item.restore_point .dest
{
	color: #E03B33;
}
dlq #dlq_list .dlq_item.restore_point .dest.rst_dest_valid
{
	color: #3BE45B;
}



























#webm_preview
{
	position: fixed;
	flex-direction: column;
	display: flex;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(10px);
}

#webm_preview #webm_video_player
{
	width: 100%;
	height: 40%;
}
#webm_preview #webm_video_player video
{
	width: 100%;
	height: 100%;
}

#webm_video_waveform, #webm_video_waveform wave, #webm_video_waveform canvas
{
	/*width: 100% !important;*/
}