



login
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}



login #login_box
{
	display: flex;
	flex-direction: column;
	width: 20vw;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin: 30px;
}

login #login_box input
{
	margin-top: 10px;
	font-size: 20px;
}

login #login_box btn
{
	margin-top: 20px;
	text-align: center;
}






