

/*
!~~ #msg_pool .gui_msg
===============================================
                 Error messages
===============================================
*/

#msg_pool
{
	position: fixed;
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 30px;
	z-index: 99999;
}

~~
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 450px;
/* 	padding: 10px; */
	/* background: #66312c; */
	border-radius: 7px;
	/* border: 2px solid #ff3f3f; */
	border: 2px solid transparent;
	font-size: 15px;
	color: white;
	transition: 0.5s;
}

~~ .gui_msg_title
{
	display: flex;
	padding: 7px;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.3);
}

~~ .gui_msg_body
{
	color: #ffef9f;
	padding: 5px 5px 5px 10px;
	white-space: pre;
	max-height: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
}

~~ .gui_msg_notice
{
	background: rgba(0, 0, 0, 0.15);
	padding: 5px;
}


~~:not(:first-child)
{
	margin-top: 20px;
}


~~.error svg [icon_fg]
{
	fill: red;
}
~~.warning svg [icon_fg]
{
	fill: orange;
}

~~.error
{
	background: #66312c;
	border-color: #ff3f3f;
}
~~.warning
{
	background: #66512c;
	border-color: #ff9e36;
}

~~.error .gui_msg_title
{
	color: #ff6e6e;
}
~~.warning .gui_msg_title
{
	color: #ffe06e;
}

~~.error .gui_msg_notice
{
	color: #ff6e6e;
}
~~.warning .gui_msg_notice
{
	color: #ffe06e;
}

~~ svg
{
	width: 19px;
	height: 19px;
	flex-shrink: 0;
	margin-right: 8px;
	user-select: none;
}

~~ svg [cbg]
{
	fill: white;
}

~~ .nodisplay
{
	display: none !important;
}



/*
===============================================
-----------------------------------------------
===============================================
*/










/*
===============================================
                 Color vars
===============================================
*/

:root
{
	--app_bg:                #181C1F;
	--panel_bg_base:         #181C1F;

	--red_indicator:         #FF5631;
	--green_indicator:       #00FF00;
	--blue_indicator:        #26B1FF;
	--blue_indicator_bright: #FF8383;

	--red_text:              #FF8383;
}

/*
===============================================
-----------------------------------------------
===============================================
*/













